[Unit]
Description=GSP Backend
After=syslog.target

[Service]
Type=simple
PIDFile=/var/run/gspbackendend%I.pid
# Note the -f: don't fail if there is no PID file
ExecStartPre=/bin/rm -f /var/run/gspbackend%I.pid
ExecStart=/usr/bin/java -cp /opt/tally/gsp/TallyGSPServices-1.0-SNAPSHOT-uber.jar loadbalancing.BackendApp \
 --daemon --pidfile /var/run/gspbackend%I.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target